body{
	margin:0;
	padding:0; 
	font-size:9pt;
	background-repeat: no-repeat;
	background-color: #9CDCF9;
	background-position: 0px 0px;
}
#login{
	position:absolute;
	width:681px; 
	height:368px; 
	top:50%;
	left:50%;
	margin-left:-340px;
	margin-top:-184px;
}
div{
	border: none;
}
#top{
	width:100%; 
	height:51px; 
	height:50px !important;
	background:url(../img/login/login-1_01.png); 
}
#center_left{
	width:352px; 
	height:319px; 
	background:url(../img/login/login-1_02.png); 
	float:left;
}
#center_middle{
	width:197px; 
	height:319px; 
	background:url(../img/login/login-1_03.png) repeat-x; 
	float:left;
}
#center_right{
	width:131px; 
	height:319px; 
	background:url(../img/login/login-1_04.png); 
	float:left;
}
#down{
	width:681px; 
	height:50px; 
	background:url(../img/login/login-1_05.png); 
	float:left;
}
.userAcc{ 
	margin-left:15px; 
	margin-top:45px;
	height:25px;
}
.userPass{
	margin-left:15px;
	margin-top:25px; 
	height:25px;
}
input{
	width:120px; 
	height:18px; 
	border:solid 1px #95B8E7;
	font-size:9pt;
}
#btn{
	margin-left:10px
	margin-left:15px !important; 
	margin-top:40px;
	height:25px; 
	margin-right:10px; 
	text-align:center;
}
#btn a{
	display:block; 
	line-height:25px; 
	background: url(../img/login/login-1_06.png); 
	border: none; 
	width:69px; 
	float:left; 
	margin-left:15px; 
	text-decoration:none; 
	color:#000;
}

#btn a:link  { 
	text-decoration: none;
	color:#008EE3
}
#btn a:visited {
	text-decoration: none;color:#666666
}
#btn a:active {
	text-decoration: none;
}
#btn a:hover {
	text-decoration: none;
	color: #0066CC;
	background: url(../img/login/login-1_07.png); 
}