@-webkit-keyframes kf_bounceInUp {
	0%,100%,60%,75%,90% {
	-webkit-transition-timing-function:cubic-bezier(0.215,.61,.355,1);
	transition-timing-function:cubic-bezier(0.215,.61,.355,1)
}
0% {
	opacity:0;
	-webkit-transform:translate3d(0,3000px,0);
	transform:translate3d(0,3000px,0)
}
60% {
	opacity:1;
	-webkit-transform:translate3d(0,-20px,0);
	transform:translate3d(0,-20px,0)
}
75% {
	-webkit-transform:translate3d(0,10px,0);
	transform:translate3d(0,10px,0)
}
90% {
	-webkit-transform:translate3d(0,-5px,0);
	transform:translate3d(0,-5px,0)
}
100% {
	-webkit-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0)
}
}@keyframes kf_bounceInUp {
	0%,100%,60%,75%,90% {
	-webkit-transition-timing-function:cubic-bezier(0.215,.61,.355,1);
	transition-timing-function:cubic-bezier(0.215,.61,.355,1)
}
0% {
	opacity:0;
	-webkit-transform:translate3d(0,3000px,0);
	transform:translate3d(0,3000px,0)
}
60% {
	opacity:1;
	-webkit-transform:translate3d(0,-20px,0);
	transform:translate3d(0,-20px,0)
}
75% {
	-webkit-transform:translate3d(0,10px,0);
	transform:translate3d(0,10px,0)
}
90% {
	-webkit-transform:translate3d(0,-5px,0);
	transform:translate3d(0,-5px,0)
}
100% {
	-webkit-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0)
}
}@-webkit-keyframes kf_shake {
	0%,100% {
	-webkit-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0)
}
10%,30%,50%,70%,90% {
	-webkit-transform:translate3d(-10px,0,0);
	transform:translate3d(-10px,0,0)
}
20%,40%,60%,80% {
	-webkit-transform:translate3d(10px,0,0);
	transform:translate3d(10px,0,0)
}
}@keyframes kf_shake {
	0%,100% {
	-webkit-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0)
}
10%,30%,50%,70%,90% {
	-webkit-transform:translate3d(-10px,0,0);
	transform:translate3d(-10px,0,0)
}
20%,40%,60%,80% {
	-webkit-transform:translate3d(10px,0,0);
	transform:translate3d(10px,0,0)
}
}@-webkit-keyframes kf_tada {
	0% {
	-webkit-transform:scale3d(1,1,1);
	transform:scale3d(1,1,1)
}
10%,20% {
	-webkit-transform:scale3d(.9,.9,.9) rotate3d(0,0,1,-3deg);
	transform:scale3d(.9,.9,.9) rotate3d(0,0,1,-3deg)
}
30%,50%,70%,90% {
	-webkit-transform:scale3d(1.1,1.1,1.1) rotate3d(0,0,1,3deg);
	transform:scale3d(1.1,1.1,1.1) rotate3d(0,0,1,3deg)
}
40%,60%,80% {
	-webkit-transform:scale3d(1.1,1.1,1.1) rotate3d(0,0,1,-3deg);
	transform:scale3d(1.1,1.1,1.1) rotate3d(0,0,1,-3deg)
}
100% {
	-webkit-transform:scale3d(1,1,1);
	transform:scale3d(1,1,1)
}
}@keyframes kf_tada {
	0% {
	-webkit-transform:scale3d(1,1,1);
	transform:scale3d(1,1,1)
}
10%,20% {
	-webkit-transform:scale3d(.9,.9,.9) rotate3d(0,0,1,-3deg);
	transform:scale3d(.9,.9,.9) rotate3d(0,0,1,-3deg)
}
30%,50%,70%,90% {
	-webkit-transform:scale3d(1.1,1.1,1.1) rotate3d(0,0,1,3deg);
	transform:scale3d(1.1,1.1,1.1) rotate3d(0,0,1,3deg)
}
40%,60%,80% {
	-webkit-transform:scale3d(1.1,1.1,1.1) rotate3d(0,0,1,-3deg);
	transform:scale3d(1.1,1.1,1.1) rotate3d(0,0,1,-3deg)
}
100% {
	-webkit-transform:scale3d(1,1,1);
	transform:scale3d(1,1,1)
}
}@-webkit-keyframes kf_fadeInLeft {
	0% {
	opacity:0;
	-webkit-transform:translate3d(-100%,0,0);
	transform:translate3d(-100%,0,0)
}
100% {
	opacity:1;
	-webkit-transform:none;
	transform:none
}
}@keyframes kf_fadeInLeft {
	0% {
	opacity:0;
	-webkit-transform:translate3d(-100%,0,0);
	transform:translate3d(-100%,0,0)
}
100% {
	opacity:1;
	-webkit-transform:none;
	transform:none
}
}@-webkit-keyframes kf_fadeInRight {
	0% {
	opacity:0;
	-webkit-transform:translate3d(100%,0,0);
	transform:translate3d(100%,0,0)
}
100% {
	opacity:1;
	-webkit-transform:none;
	transform:none
}
}@keyframes kf_fadeInRight {
	0% {
	opacity:0;
	-webkit-transform:translate3d(100%,0,0);
	transform:translate3d(100%,0,0)
}
100% {
	opacity:1;
	-webkit-transform:none;
	transform:none
}
}@-webkit-keyframes kf_fadeInUp {
	0% {
	opacity:0;
	-webkit-transform:translate3d(0,100%,0);
	transform:translate3d(0,100%,0)
}
100% {
	opacity:1;
	-webkit-transform:none;
	transform:none
}
}@keyframes kf_fadeInUp {
	0% {
	opacity:0;
	-webkit-transform:translate3d(0,100%,0);
	transform:translate3d(0,100%,0)
}
100% {
	opacity:1;
	-webkit-transform:none;
	transform:none
}
}@-webkit-keyframes kf_fadeOut {
	0% {
	opacity:1
}
100% {
	opacity:0
}
}@keyframes kf_fadeOut {
	0% {
	opacity:1
}
100% {
	opacity:0
}
}@-webkit-keyframes kf_fadeInDown {
	0% {
	opacity:0;
	-webkit-transform:translate3d(0,-100%,0);
	transform:translate3d(0,-100%,0)
}
100% {
	opacity:1;
	-webkit-transform:none;
	transform:none
}
}@keyframes kf_fadeInDown {
	0% {
	opacity:0;
	-webkit-transform:translate3d(0,-100%,0);
	transform:translate3d(0,-100%,0)
}
100% {
	opacity:1;
	-webkit-transform:none;
	transform:none
}
}@-webkit-keyframes kf_fadeInDownBig {
	0% {
	opacity:0;
	-webkit-transform:translate3d(0,-2000px,0);
	transform:translate3d(0,-2000px,0)
}
100% {
	opacity:1;
	-webkit-transform:none;
	transform:none
}
}@keyframes kf_fadeInDownBig {
	0% {
	opacity:0;
	-webkit-transform:translate3d(0,-2000px,0);
	transform:translate3d(0,-2000px,0)
}
100% {
	opacity:1;
	-webkit-transform:none;
	transform:none
}
}@-webkit-keyframes kf_rotateInDownRight {
	0% {
	-webkit-transform-origin:right bottom;
	transform-origin:right bottom;
	-webkit-transform:rotate3d(0,0,1,45deg);
	transform:rotate3d(0,0,1,45deg);
	opacity:0
}
100% {
	-webkit-transform-origin:right bottom;
	transform-origin:right bottom;
	-webkit-transform:none;
	transform:none;
	opacity:1
}
}@keyframes kf_rotateInDownRight {
	0% {
	-webkit-transform-origin:right bottom;
	transform-origin:right bottom;
	-webkit-transform:rotate3d(0,0,1,45deg);
	transform:rotate3d(0,0,1,45deg);
	opacity:0
}
100% {
	-webkit-transform-origin:right bottom;
	transform-origin:right bottom;
	-webkit-transform:none;
	transform:none;
	opacity:1
}
}@-webkit-keyframes kf_fadeIn {
	0% {
	opacity:0
}
100% {
	opacity:1
}
}@keyframes kf_fadeIn {
	0% {
	opacity:0
}
100% {
	opacity:1
}
}@-webkit-keyframes kf_fadeOutDown {
	0% {
	opacity:1
}
100% {
	opacity:0;
	-webkit-transform:translate3d(0,100%,0);
	transform:translate3d(0,100%,0)
}
}@keyframes kf_fadeOutDown {
	0% {
	opacity:1
}
100% {
	opacity:0;
	-webkit-transform:translate3d(0,100%,0);
	transform:translate3d(0,100%,0)
}
}@-webkit-keyframes kf_fadeOutLeft {
	0% {
	opacity:1
}
100% {
	opacity:0;
	-webkit-transform:translate3d(-100%,0,0);
	transform:translate3d(-100%,0,0)
}
}@keyframes kf_fadeOutLeft {
	0% {
	opacity:1
}
100% {
	opacity:0;
	-webkit-transform:translate3d(-100%,0,0);
	transform:translate3d(-100%,0,0)
}
}@-webkit-keyframes kf_fadeOutRight {
	0% {
	opacity:1
}
100% {
	opacity:0;
	-webkit-transform:translate3d(100%,0,0);
	transform:translate3d(100%,0,0)
}
}@keyframes kf_fadeOutRight {
	0% {
	opacity:1
}
100% {
	opacity:0;
	-webkit-transform:translate3d(100%,0,0);
	transform:translate3d(100%,0,0)
}
}@-webkit-keyframes kf_fadeOutUp {
	0% {
	opacity:1
}
100% {
	opacity:0;
	-webkit-transform:translate3d(0,-100%,0);
	transform:translate3d(0,-100%,0)
}
}@keyframes kf_fadeOutUp {
	0% {
	opacity:1
}
100% {
	opacity:0;
	-webkit-transform:translate3d(0,-100%,0);
	transform:translate3d(0,-100%,0)
}
}.ttxp_messagebox {
	text-align:left;
	padding:1.2em 20px .5em;
	position:fixed;
	z-index:1;
	width:100%;
	height:100%;
	top:0;
	left:0;
	background:rgba(0,0,0,.6)
}
.ttxp_messagebox_content {
	position:fixed;
	z-index:13;
	width:85%;
	top:50%;
	left:50%;
	-webkit-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);
	background-color:#FAFAFC;
	text-align:center;
	border-radius:3px
}
.ttxp_messagebox_title {
	font-weight:400;
	font-size:17px;
	padding:1.2em 20px .5em
}
.ttxp_messagebox_info {
	padding:1.2em 20px .5em;
	font-size:15px;
	color:#888;
	text-align:left
}
.ttxp_messagebox_ft {
	position:relative;
	line-height:42px;
	margin-top:20px;
	font-size:17px
}
.ttxp_messagebox_ft a {
	display:block;
	color:#353535;
	text-decoration:none;
	-webkit-tap-highlight-color:transparent;
	position:relative;
	float:left;
	width:50%
}
.ttxp_messagebox_ft a:active,.ttxp_messagebox_ft a:hover {
	text-decoration:none;
	background:#EEE
}
.ttxp_messagebox_ft:after {
	content:" ";
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:1px;
	border-top:1px solid #D5D5D6;
	-webkit-transform-origin:0 0;
	transform-origin:0 0;
	-webkit-transform:scaleY(0.5);
	transform:scaleY(0.5)
}
.ttxp_messagebox_ft a:after {
	content:" ";
	position:absolute;
	left:0;
	top:0;
	width:1px;
	height:100%;
	border-left:1px solid #D5D5D6;
	-webkit-transform-origin:0 0;
	transform-origin:0 0;
	-webkit-transform:scaleX(0.5);
	transform:scaleX(0.5)
}
.ttxp_messagebox_ft a:first-child:after {
	display:none
}
.ttxp_messagebox_ft a:last-child {
	float:none;
	width:auto;
	overflow:hidden
}
.ttxp_effect_meteor {
	position:absolute;
	display:none;
	-webkit-animation:kf_ttxp_effect_meteor 5s ease-in infinite;
	animation:kf_ttxp_effect_meteor 5s ease-in infinite
}
@-webkit-keyframes kf_ttxp_effect_meteor {
	0% {
	-webkit-transform:translate(0px,0) rotate(0deg);
	opacity:1;
	-webkit-animation-timing-function:linear
}
100%,30% {
	-webkit-transform:translate(-500px,100px) rotate(-5deg);
	opacity:0;
	-webkit-animation-timing-function:ease-in
}
}@keyframes kf_ttxp_effect_meteor {
	0% {
	-webkit-transform:translate(0px,0) rotate(0deg);
	opacity:1;
	-webkit-animation-timing-function:linear
}
100%,30% {
	-webkit-transform:translate(-500px,100px) rotate(-5deg);
	opacity:0;
	-webkit-animation-timing-function:ease-in
}
}.ttxp_effect_snow {
	position:absolute;
	width:16px;
	height:16px;
	-webkit-animation-iteration-count:infinite,infinite;
	animation-iteration-count:infinite,infinite;
	-webkit-animation-direction:normal,normal;
	animation-direction:normal,normal;
	-webkit-animation-timing-function:linear,ease-in;
	animation-timing-function:linear,ease-in
}
.ttxp_effect_snow img {
	position:absolute;
	width:16px;
	height:16px;
	-webkit-animation-iteration-count:infinite;
	animation-iteration-count:infinite;
	-webkit-animation-direction:alternate;
	animation-direction:alternate;
	-webkit-animation-timing-function:ease-in-out;
	animation-timing-function:ease-in-out;
	-webkit-transform-origin:50% -100%;
	transform-origin:50% -100%
}
@keyframes kf_ttxp_snow_fade {
	0%,85% {
	opacity:1
}
100% {
	opacity:0
}
}@-webkit-keyframes kf_ttxp_snow_fade {
	0%,85% {
	opacity:1
}
100% {
	opacity:0
}
}@keyframes kf_ttxp_snow_drop {
	0% {
	-webkit-transform:translate(0,-50px)
}
100% {
	-webkit-transform:translate(0,550px)
}
}@-webkit-keyframes kf_ttxp_snow_drop {
	0% {
	-webkit-transform:translate(0,-50px)
}
100% {
	-webkit-transform:translate(0,550px)
}
}@keyframes kf_ttxp_snow_clockwiseSpin {
	0% {
	-webkit-transform:rotate(-50deg)
}
100% {
	-webkit-transform:rotate(50deg)
}
}@-webkit-keyframes kf_ttxp_snow_clockwiseSpin {
	0% {
	-webkit-transform:rotate(-50deg)
}
100% {
	-webkit-transform:rotate(50deg)
}
}@keyframes kf_ttxp_snow_counterclockwiseSpinAndFlip {
	0% {
	-webkit-transform:scale(-1,1) rotate(50deg)
}
100% {
	-webkit-transform:scale(-1,1) rotate(-50deg)
}
}@-webkit-keyframes kf_ttxp_snow_counterclockwiseSpinAndFlip {
	0% {
	-webkit-transform:scale(-1,1) rotate(50deg)
}
100% {
	-webkit-transform:scale(-1,1) rotate(-50deg)
}
}.ttxp_effect_star {
	position:absolute;
	display:none;
	-webkit-animation:kf_ttxp_effect_star 10s linear infinite;
	animation:kf_ttxp_effect_star 10s linear infinite
}
@-webkit-keyframes kf_ttxp_effect_star {
	0% {
	opacity:.1
}
50% {
	opacity:1
}
100% {
	opacity:.1
}
}@keyframes kf_ttxp_effect_star {
	0% {
	opacity:.1
}
50% {
	opacity:1
}
100% {
	opacity:.1
}
}.ttxp-toast-mask {
	position:fixed;
	z-index:1;
	width:100%;
	height:100%;
	top:0;
	left:0
}
.ttxp-toast {
	position:fixed;
	z-index:3;
	width:10em;
	min-height:10em;
	top:180px;
	left:50%;
	margin-left:-5em;
	background:rgba(0,0,0,.4);
	text-align:center;
	border-radius:5px;
	color:#FFF
}
.ttxp-toast-loading {
	width:5em;
	height:5em;
	margin:30px auto;
	position:relative;
	-webkit-animation:kf_ttxp-toast-loading 3s linear infinite;
	animation:kf_ttxp-toast-loading 3s linear infinite
}
.ttxp-toast-loading div {
	width:100%;
	height:100%;
	position:absolute
}
.ttxp-toast-loading span {
	display:inline-block;
	width:20px;
	height:20px;
	border-radius:50%;
	background:#9C6;
	position:absolute;
	left:50%;
	margin-top:-10px;
	margin-left:-10px;
	-webkit-animation:kf_ttxp_toast_loading_8 3s ease infinite;
	animation:kf_ttxp_toast_loading_8 3s ease infinite
}
@-webkit-keyframes kf_ttxp-toast-loading {
	0% {
	-webkit-transform:rotate(0deg)
}
33.3% {
	-webkit-transform:rotate(120deg)
}
66.6% {
	-webkit-transform:rotate(240deg)
}
100% {
	-webkit-transform:rotate(360deg)
}
}@keyframes kf_ttxp-toast-loading {
	0% {
	-webkit-transform:rotate(0deg);
	transform:rotate(0deg)
}
33.3% {
	-webkit-transform:rotate(120deg);
	transform:rotate(120deg)
}
66.6% {
	-webkit-transform:rotate(240deg);
	transform:rotate(240deg)
}
100% {
	-webkit-transform:rotate(360deg);
	transform:rotate(360deg)
}
}@-webkit-keyframes kf_ttxp_toast_loading_8 {
	0%,100% {
	background:#9C6
}
33.3% {
	background:#FF6
}
66.6% {
	background:#F66
}
}@keyframes kf_ttxp_toast_loading_8 {
	0%,100% {
	background:#9C6
}
33.3% {
	background:#FF6
}
66.6% {
	background:#F66
}
}.ttxp-toast-loading div:nth-child(2) {
	-webkit-transform:rotate(120deg);
	transform:rotate(120deg)
}
.ttxp-toast-loading div:nth-child(3) {
	-webkit-transform:rotate(240deg);
	transform:rotate(240deg)
}
.ttxp-toast-loading div:nth-child(2) span {
	-webkit-animation-delay:1s;
	animation-delay:1s
}
.ttxp-toast-loading div:nth-child(3) span {
	-webkit-animation-delay:2s;
	animation-delay:2s
}
.ttxp-toast-content {
	margin:10px 0 15px;
	font-size:14px
}
.myui_btn.myui_btn_mini {
	line-height:25px;
	font-size:14px;
	padding:0 .75em;
	display:inline-block
}
button.myui_btn,input.myui_btn {
	width:100%;
	border-width:0;
	outline:0;
	-webkit-appearance:none
}
button.myui_btn:focus,input.myui_btn:focus {
	outline:0
}
button.myui_btn_inline,button.myui_btn_mini,input.myui_btn_inline,input.myui_btn_mini {
	width:auto
}
.myui_btn+.myui_btn {
	margin-top:15px
}
.myui_btn.myui_btn_inline+.myui_btn.myui_btn_inline {
	margin-top:auto;
	margin-left:15px
}
.myui_btn_area {
	margin:1.17647059em 15px .3em
}
.myui_btn_area.myui_btn_area_inline {
	-webkit-display:-webkit-box;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex
}
.myui_btn_area.myui_btn_area_inline .myui_btn {
	margin-top:auto;
	margin-right:15px;
	width:100%;
	-webkit-box-flex:1;
	-ms-flex:1;
	flex:1
}
.myui_btn_area.myui_btn_area_inline .myui_btn:last-child {
	margin-right:0
}
.myui_btn {
	position:relative;
	display:block;
	margin-left:auto;
	margin-right:auto;
	padding-left:14px;
	padding-right:14px;
	box-sizing:border-box;
	font-size:18px;
	text-align:center;
	text-decoration:none;
	color:#FFF;
	line-height:2.33333333;
	border-radius:5px;
	-webkit-tap-highlight-color:transparent;
	overflow:hidden
}
.myui_btn:after {
	content:" ";
	width:200%;
	height:200%;
	position:absolute;
	top:0;
	left:0;
	border:1px solid rgba(0,0,0,.2);
	-webkit-transform:scale(0.5);
	transform:scale(0.5);
	-webkit-transform-origin:0 0;
	transform-origin:0 0;
	box-sizing:border-box;
	border-radius:10px
}
.myui_btn.myui_btn_inline {
	display:inline-block
}
.myui_btn_plain_primary {
	color:#04BE02;
	border:1px solid #04BE02
}
button.myui_btn_plain_primary,input.myui_btn_plain_primary {
	border-width:1px;
	background-color:transparent
}
.myui_btn_plain_primary:active {
	border-color:#039702
}
.myui_btn_plain_primary:after {
	border-width:0
}
.myui_btn_primary {
	background-color:#04BE02
}
.myui_btn_primary:not(.myui_btn_disabled):visited {
	color:#FFF
}
.myui_btn_primary:not(.myui_btn_disabled):active {
	color:rgba(255,255,255,.4);
	background-color:#039702
}
