<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qm.mapper.KindergartenPhotoMapper">
  <resultMap id="BaseResultMap" type="com.qm.entities.KindergartenPhoto">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="category" jdbcType="INTEGER" property="category" />
    <result column="photo_url" jdbcType="VARCHAR" property="photoUrl" />
    <result column="video_url" jdbcType="VARCHAR" property="videoUrl" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="dig_num" jdbcType="INTEGER" property="digNum" />
    <result column="comment_num" jdbcType="INTEGER" property="commentNum" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="owner_id" jdbcType="VARCHAR" property="ownerId" />
    <result column="dig_relation_user_id" jdbcType="VARCHAR" property="digRelationUserId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, type, category, photo_url, video_url, create_time, create_user, dig_num, comment_num, 
    name, owner_id, dig_relation_user_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_kindergarten_photo
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_kindergarten_photo
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qm.entities.KindergartenPhoto">
    insert into t_kindergarten_photo (id, type, category, 
      photo_url, video_url, create_time, 
      create_user, dig_num, comment_num, 
      name, owner_id, dig_relation_user_id
      )
    values (#{id,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{category,jdbcType=INTEGER}, 
      #{photoUrl,jdbcType=VARCHAR}, #{videoUrl,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, 
      #{createUser,jdbcType=VARCHAR}, #{digNum,jdbcType=INTEGER}, #{commentNum,jdbcType=INTEGER}, 
      #{name,jdbcType=VARCHAR}, #{ownerId,jdbcType=VARCHAR}, #{digRelationUserId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.qm.entities.KindergartenPhoto">
    insert into t_kindergarten_photo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="category != null">
        category,
      </if>
      <if test="photoUrl != null">
        photo_url,
      </if>
      <if test="videoUrl != null">
        video_url,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="digNum != null">
        dig_num,
      </if>
      <if test="commentNum != null">
        comment_num,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="ownerId != null">
        owner_id,
      </if>
      <if test="digRelationUserId != null">
        dig_relation_user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="category != null">
        #{category,jdbcType=INTEGER},
      </if>
      <if test="photoUrl != null">
        #{photoUrl,jdbcType=VARCHAR},
      </if>
      <if test="videoUrl != null">
        #{videoUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="digNum != null">
        #{digNum,jdbcType=INTEGER},
      </if>
      <if test="commentNum != null">
        #{commentNum,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="ownerId != null">
        #{ownerId,jdbcType=VARCHAR},
      </if>
      <if test="digRelationUserId != null">
        #{digRelationUserId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qm.entities.KindergartenPhoto">
    update t_kindergarten_photo
    <set>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="category != null">
        category = #{category,jdbcType=INTEGER},
      </if>
      <if test="photoUrl != null">
        photo_url = #{photoUrl,jdbcType=VARCHAR},
      </if>
      <if test="videoUrl != null">
        video_url = #{videoUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="digNum != null">
        dig_num = #{digNum,jdbcType=INTEGER},
      </if>
      <if test="commentNum != null">
        comment_num = #{commentNum,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="ownerId != null">
        owner_id = #{ownerId,jdbcType=VARCHAR},
      </if>
      <if test="digRelationUserId != null">
        dig_relation_user_id = #{digRelationUserId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qm.entities.KindergartenPhoto">
    update t_kindergarten_photo
    set type = #{type,jdbcType=INTEGER},
      category = #{category,jdbcType=INTEGER},
      photo_url = #{photoUrl,jdbcType=VARCHAR},
      video_url = #{videoUrl,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=VARCHAR},
      dig_num = #{digNum,jdbcType=INTEGER},
      comment_num = #{commentNum,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      owner_id = #{ownerId,jdbcType=VARCHAR},
      dig_relation_user_id = #{digRelationUserId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="queryPhotoByOwerId" parameterType="String" resultMap="BaseResultMap">
  	
  	 select 
    <include refid="Base_Column_List" />
    from t_kindergarten_photo
    where owner_id = #{ownerId,jdbcType=VARCHAR}
  </select>
</mapper>