<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qm.mapper.KindergartenAlbumMapper">
  <resultMap id="BaseResultMap" type="com.qm.entities.KindergartenAlbum">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="album_name" jdbcType="VARCHAR" property="albumName" />
    <result column="album_url" jdbcType="VARCHAR" property="albumUrl" />
    <result column="album_desc" jdbcType="VARCHAR" property="albumDesc" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="shcool_id" jdbcType="INTEGER" property="shcoolId" />
    <result column="grade_id" jdbcType="INTEGER" property="gradeId" />
    <result column="student" jdbcType="INTEGER" property="student" />
    <result column="current_grade_name" jdbcType="VARCHAR" property="currentGradeName" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="download_url" jdbcType="VARCHAR" property="downloadUrl" />
    <result column="download_secret" jdbcType="VARCHAR" property="downloadSecret" />
  </resultMap>
  <sql id="Base_Column_List">
    id, album_name, album_url, album_desc, create_time, create_user, shcool_id, grade_id, 
    student, current_grade_name, type,download_url,download_secret
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_kindergarten_album
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_kindergarten_album
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qm.entities.KindergartenAlbum" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
    insert into t_kindergarten_album (id, album_name, album_url, 
      album_desc, create_time, create_user, 
      shcool_id, grade_id, student, 
      current_grade_name, type,download_url,download_secret)
    values (#{id,jdbcType=INTEGER}, #{albumName,jdbcType=VARCHAR}, #{albumUrl,jdbcType=VARCHAR}, 
      #{albumDesc,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, #{createUser,jdbcType=VARCHAR}, 
      #{shcoolId,jdbcType=INTEGER}, #{gradeId,jdbcType=INTEGER}, #{student,jdbcType=INTEGER}, 
      #{currentGradeName,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, 
      #{downloadUrl,jdbcType=VARCHAR}, 
      #{downloadSecret,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qm.entities.KindergartenAlbum" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
    insert into t_kindergarten_album
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="albumName != null">
        album_name,
      </if>
      <if test="albumUrl != null">
        album_url,
      </if>
      <if test="albumDesc != null">
        album_desc,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="shcoolId != null">
        shcool_id,
      </if>
      <if test="gradeId != null">
        grade_id,
      </if>
      <if test="student != null">
        student,
      </if>
      <if test="currentGradeName != null">
        current_grade_name,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="downloadUrl != null">
        download_url,
      </if>
      <if test="downloadSecret != null">
        download_secret,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="albumName != null">
        #{albumName,jdbcType=VARCHAR},
      </if>
      <if test="albumUrl != null">
        #{albumUrl,jdbcType=VARCHAR},
      </if>
      <if test="albumDesc != null">
        #{albumDesc,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="shcoolId != null">
        #{shcoolId,jdbcType=INTEGER},
      </if>
      <if test="gradeId != null">
        #{gradeId,jdbcType=INTEGER},
      </if>
      <if test="student != null">
        #{student,jdbcType=INTEGER},
      </if>
      <if test="currentGradeName != null">
        #{currentGradeName,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="downloadUrl != null">
        #{downloadUrl,jdbcType=VARCHAR},
      </if>
      <if test="downloadSecret != null">
        #{downloadSecret,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qm.entities.KindergartenAlbum">
    update t_kindergarten_album
    <set>
      <if test="albumName != null">
        album_name = #{albumName,jdbcType=VARCHAR},
      </if>
      <if test="albumUrl != null">
        album_url = #{albumUrl,jdbcType=VARCHAR},
      </if>
      <if test="albumDesc != null">
        album_desc = #{albumDesc,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="shcoolId != null">
        shcool_id = #{shcoolId,jdbcType=INTEGER},
      </if>
      <if test="gradeId != null">
        grade_id = #{gradeId,jdbcType=INTEGER},
      </if>
      <if test="student != null">
        student = #{student,jdbcType=INTEGER},
      </if>
      <if test="currentGradeName != null">
        current_grade_name = #{currentGradeName,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="downloadUrl != null">
        download_url = #{downloadUrl,jdbcType=VARCHAR},
      </if>
      <if test="downloadSecret != null">
        download_secret = #{downloadSecret,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qm.entities.KindergartenAlbum">
    update t_kindergarten_album
    set album_name = #{albumName,jdbcType=VARCHAR},
      album_url = #{albumUrl,jdbcType=VARCHAR},
      album_desc = #{albumDesc,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=VARCHAR},
      shcool_id = #{shcoolId,jdbcType=INTEGER},
      grade_id = #{gradeId,jdbcType=INTEGER},
      student = #{student,jdbcType=INTEGER},
      current_grade_name = #{currentGradeName,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      download_url = #{downloadUrl,jdbcType=VARCHAR},
      download_secret = #{downloadSecret,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="selectByCondition" parameterType="com.qm.entities.KindergartenAlbum" resultMap="BaseResultMap" >
  
	  select 
	    <include refid="Base_Column_List" />
	    from t_kindergarten_album
	    where 1=1
	    <if test="albumName != null">
	       and album_name = #{albumName,jdbcType=VARCHAR}
	      </if>
	      <if test="albumUrl != null">
	        and album_url = #{albumUrl,jdbcType=VARCHAR}
	      </if>
	      <if test="albumDesc != null">
	        and album_desc = #{albumDesc,jdbcType=VARCHAR}
	      </if>
	      <if test="createTime != null">
	        and create_time = #{createTime,jdbcType=VARCHAR}
	      </if>
	      <if test="createUser != null">
	        and create_user = #{createUser,jdbcType=VARCHAR}
	      </if>
	      <if test="shcoolId != null">
	        and shcool_id = #{shcoolId,jdbcType=INTEGER}
	      </if>
	      <if test="gradeId != null">
	        and grade_id = #{gradeId,jdbcType=INTEGER}
	      </if>
	      <if test="student != null">
	        and student = #{student,jdbcType=INTEGER}
	      </if>
	      <if test="currentGradeName != null">
	        and current_grade_name = #{currentGradeName,jdbcType=VARCHAR}
	      </if>
	      <if test="type != null">
	        and type = #{type,jdbcType=INTEGER}
	      </if>
  </select>
  
  <insert id="batchInsert" parameterType="java.util.List">
       
        insert into t_kindergarten_album (album_name, album_url, 
	      create_time, create_user, 
	      shcool_id, grade_id, 
	      current_grade_name, type)
	    values 
	     <foreach collection="list" item="item" index="index" separator=",">
		     (#{item.albumName,jdbcType=VARCHAR}, #{item.albumUrl,jdbcType=VARCHAR}, 
		       #{item.createTime,jdbcType=VARCHAR}, #{item.createUser,jdbcType=VARCHAR}, 
		      #{item.shcoolId,jdbcType=INTEGER}, #{item.gradeId,jdbcType=INTEGER},
		      #{item.currentGradeName,jdbcType=VARCHAR}, #{item.type,jdbcType=INTEGER})
	      </foreach>
    </insert>
</mapper>