<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qm.mapper.RewardInfoMapper">
  <resultMap id="BaseResultMap" type="com.qm.entities.RewardInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_type" jdbcType="INTEGER" property="userType" />
    <result column="kindergarten_category" jdbcType="INTEGER" property="kindergartenCategory" />
    <result column="reward_info" jdbcType="INTEGER" property="rewardInfo" />
    <result column="reward_icon" jdbcType="VARCHAR" property="rewardIcon" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_type, kindergarten_category, reward_info, reward_icon
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_reward_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_reward_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qm.entities.RewardInfo">
    insert into t_reward_info (id, user_type, kindergarten_category, 
      reward_info, reward_icon)
    values (#{id,jdbcType=INTEGER}, #{userType,jdbcType=INTEGER}, #{kindergartenCategory,jdbcType=INTEGER}, 
      #{rewardInfo,jdbcType=INTEGER}, #{rewardIcon,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qm.entities.RewardInfo">
    insert into t_reward_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userType != null">
        user_type,
      </if>
      <if test="kindergartenCategory != null">
        kindergarten_category,
      </if>
      <if test="rewardInfo != null">
        reward_info,
      </if>
      <if test="rewardIcon != null">
        reward_icon,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userType != null">
        #{userType,jdbcType=INTEGER},
      </if>
      <if test="kindergartenCategory != null">
        #{kindergartenCategory,jdbcType=INTEGER},
      </if>
      <if test="rewardInfo != null">
        #{rewardInfo,jdbcType=INTEGER},
      </if>
      <if test="rewardIcon != null">
        #{rewardIcon,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qm.entities.RewardInfo">
    update t_reward_info
    <set>
      <if test="userType != null">
        user_type = #{userType,jdbcType=INTEGER},
      </if>
      <if test="kindergartenCategory != null">
        kindergarten_category = #{kindergartenCategory,jdbcType=INTEGER},
      </if>
      <if test="rewardInfo != null">
        reward_info = #{rewardInfo,jdbcType=INTEGER},
      </if>
      <if test="rewardIcon != null">
        reward_icon = #{rewardIcon,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qm.entities.RewardInfo">
    update t_reward_info
    set user_type = #{userType,jdbcType=INTEGER},
      kindergarten_category = #{kindergartenCategory,jdbcType=INTEGER},
      reward_info = #{rewardInfo,jdbcType=INTEGER},
      reward_icon = #{rewardIcon,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByCondition" parameterType="com.qm.entities.RewardInfo" resultMap="BaseResultMap">
  	select 
    <include refid="Base_Column_List" />
    from t_reward_info
    where 1=1
     <if test="userType != null">
       and  user_type = #{userType,jdbcType=INTEGER}
      </if>
      <if test="kindergartenCategory != null">
       and kindergarten_category = #{kindergartenCategory,jdbcType=INTEGER}
      </if>
    
  </select>
</mapper>