<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qm.mapper.WorksShowMapper">
  <resultMap id="BaseResultMap" type="com.qm.entities.WorksShow">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="category" jdbcType="INTEGER" property="category" />
    <result column="imageUrl" jdbcType="VARCHAR" property="imageurl" />
    <result column="videoUrl" jdbcType="VARCHAR" property="videourl" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="shop_id" jdbcType="VARCHAR" property="shopId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, type, category, imageUrl, videoUrl, create_user, create_time, shop_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_show
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_show
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qm.entities.WorksShow">
    insert into t_show (id, name, type, 
      category, imageUrl, videoUrl, 
      create_user, create_time, shop_id
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, 
      #{category,jdbcType=INTEGER}, #{imageurl,jdbcType=VARCHAR}, #{videourl,jdbcType=VARCHAR}, 
      #{createUser,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, #{shopId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.qm.entities.WorksShow">
    insert into t_show
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="category != null">
        category,
      </if>
      <if test="imageurl != null">
        imageUrl,
      </if>
      <if test="videourl != null">
        videoUrl,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="shopId != null">
        shop_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="category != null">
        #{category,jdbcType=INTEGER},
      </if>
      <if test="imageurl != null">
        #{imageurl,jdbcType=VARCHAR},
      </if>
      <if test="videourl != null">
        #{videourl,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="shopId != null">
        #{shopId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qm.entities.WorksShow">
    update t_show
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="category != null">
        category = #{category,jdbcType=INTEGER},
      </if>
      <if test="imageurl != null">
        imageUrl = #{imageurl,jdbcType=VARCHAR},
      </if>
      <if test="videourl != null">
        videoUrl = #{videourl,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="shopId != null">
        shop_id = #{shopId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qm.entities.WorksShow">
    update t_show
    set name = #{name,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      category = #{category,jdbcType=INTEGER},
      imageUrl = #{imageurl,jdbcType=VARCHAR},
      videoUrl = #{videourl,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=VARCHAR},
      shop_id = #{shopId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByCondition" parameterType="com.qm.entities.WorksShow" resultMap="BaseResultMap">
  	 select 
	    <include refid="Base_Column_List" />
	    from t_show
	    where 1 =1
	    <if test="shopId != null and shopId != ''">
	    	and shop_id = #{shopId,jdbcType=VARCHAR}
	    </if>
	    <if test="type != null">
	    	and type = #{type,jdbcType=INTEGER}
	    </if>
	    order by create_time
  </select>
</mapper>